.square {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  font-weight: bold;
  font-size: 50px;
  cursor: pointer;
  background-color: #333;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.square:hover {
  background-color: #555;
}

.game-over .square {
  cursor: default;
}

.game-over .square:hover {
  background-color: #333;
}

.X {
  color: #1e90ff;
}

.O {
  color: #ff5733;
}
